* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Enriqueta', serif;
}

input {
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Enriqueta', serif;
    font-size: 1rem;
    margin: 0;
    padding: .3rem .4rem;
    border: 1px solid #ccc;
    width: 8rem;
    margin-right: 1rem;
}

input.wide {
    width: 18rem;
}

input:focus {
    outline: none;
    border-color: blue;
}

input.invalid {
    border-color: red;
}

.app .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    font-size: 2.4rem;
}

.site {}

.boulder-header {
    margin-bottom: 2rem;
}

.boulder-header .id {
    font-size: 1.8rem;
    font-family: 'Muli', sans-serif;
}

.boulder-header .delete {
    font-size: .8rem;
    display: none;
    margin-left: 1rem;
}

.boulder-header:hover .delete {
    display: inline-block;
}

.boulder-header .type,
.boulder-header .boulder-header {
    display: inline-block;
    padding: .2rem .6rem;
    background-color: #333;
    color: white;
    margin-right: .3rem;
}

.boulder-details-editor {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.boulder-details-editor .code {
    width: 5rem;
}

.boulder-details-editor .code canvas {
    display: block;
}

.boulder-details-editor .form {
    flex: 1;
    display: block;
}

.form-row {
    margin-bottom: .2rem;
}

.form-row .label {
    float: left;
    text-align: right;
    width: 10rem;
}

.form-row .content {
    margin-left: 12rem;
}

.button {
    display: inline-block;
    padding: .2rem .5rem .1rem;
    background-color: #ddd;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background-color: #ccc;
}

.delete.button {
    background-color: rgb(202, 48, 37);
    color: white;
    font-family: "museo-slab";
    text-transform: uppercase;
}

.delete.button:hover {
    background-color: rgb(157, 20, 10);
}

.editor-description {
    margin-top: .5rem;
}

.editor-description .heading {
    font-size: 1rem;
    font-family: "trajan-sans-pro";
}

.editor-description .text {
    color: #333;
    font-size: .825rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: rgba(33, 33, 33, 0.7);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0.5rem;
}

.navbar-item,
.plain-navbar-item {
    padding: 0 .5rem;
}

.navbar-item:hover {
    cursor: pointer;
    background-color: #999;
}

.flex-navbar-item {
    flex: 1;
}

.navbar-item ul {
    display: none;
    position: absolute;
}

.navbar-item:hover>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-item ul li {
    display: flex;
    list-style-type: none;
    font-size: 1.0rem;
    color: rgba(33, 33, 33, 0.7);
}

.navbar-item ul li:hover,
.navbar-item ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

.boulder-index-entry {
    padding: .3rem;
    display: flex;
    flex-direction: row;
}

.boulder-index-entry:hover {
    cursor: pointer;
    background-color: #ddd;
}

.boulder-index-entry .id {
    font-family: "trajan-sans-pro";
    flex: 1;
}

.boulder-index-entry .details {}

.boulder-index-entry .details>* {
    display: inline-block;
    padding: .1rem .3rem;
    background-color: #333;
    color: white;
    margin-right: .3rem;
}

.create-boulder-tools {
    display: flex;
    flex-direction: row;
}

.create-boulder-tool {
    margin-right: 2rem;
}

.boulders {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boulder-separator {
    flex: 0 0 100%;
    width: 100%;
    padding: 40px 16px 20px;
    font-size: 24px;
    line-height: 1;
}

.boulder-separator:first-of-type {
    padding-top: 10px;
}

@media (min-width: 600px) {
    .boulder-separator {
        padding: 80px 24px 32px;
        font-size: 32px;
    }
    .boulder-separator:first-of-type {
        padding: 20px 24px 32px;
    }
}

@media (min-width: 1200px) {
    .boulder-separator {
        padding: 120px 24px 60px;
        font-size: 44px;
    }
    .boulder-separator:first-of-type {
        padding: 30px 24px 60px;
    }
}

.boulder-card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 600px) {
    .boulder-card {
        padding: 16px 24px;
        width: calc(100% / 2);
    }
}

@media (min-width: 900px) {
    .boulder-card {
        width: calc(100% / 3);
    }
}

@media (min-width: 1200px) {
    .boulder-card {
        width: calc(100% / 4);
    }
}

.boulder-card:hover .boulder-card-id {
    box-shadow: 0 0 8px rgba(99, 85, 25, .5);
    color: black;
}

.boulder-card-id {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #444444;
    background-color: #F3D53F;
    border: 2px solid #DEC133;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    line-height: 1;
    box-shadow: 0 0 4px rgba(99, 85, 25, .5);
    margin-right: 12px;
    font-family: 'Advent Pro';
    transition: all .2s;
    flex: 0 0 40px;
}

@media (min-width: 600px) {
    .boulder-card-id {
        width: 64px;
        height: 64px;
        flex: 0 0 64px;
        font-size: 48px;
    }
}

.boulder-card-id.yellow {
    color: #444444;
    background-color: #F3D53F;
    border: 2px solid #DEC133;
    box-shadow: 0 0 4px #635519;
}

.boulder-card:hover .boulder-card-id.yellow {
    box-shadow: 0 0 8px #635519;
    color: black;
}

.boulder-card-id.green {
    color: #F1F1F1;
    background-color: #27AE60;
    border: 2px solid #1AA153;
    box-shadow: 0 0 4px #0D773A;
}

.boulder-card:hover .boulder-card-id.green {
    box-shadow: 0 0 8px #0D773A;
    color: white;
}

.boulder-card-id.orange {
    color: #444444;
    background-color: #E89C2F;
    border: 2px solid #DE9328;
    box-shadow: 0 0 4px #D58717;
}

.boulder-card:hover .boulder-card-id.orange {
    box-shadow: 0 0 8px #D58717;
    color: black;
}

.boulder-card-id.blue {
    color: #F1F1F1;
    background-color: #1B69D2;
    border: 2px solid #1763CA;
    box-shadow: 0 0 4px #155BBB;
}

.boulder-card:hover .boulder-card-id.blue {
    box-shadow: 0 0 8px #155BBB;
    color: white;
}

.boulder-card-id.red {
    color: #F1F1F1;
    background-color: #FF0000;
    border: 2px solid #F00000;
    box-shadow: 0 0 4px #A50000;
}

.boulder-card:hover .boulder-card-id.red {
    box-shadow: 0 0 8px #A50000;
    color: white;
}

.boulder-card-id.white {
    color: #444444;
    background-color: transparent;
    border: 2px solid #1A0925;
    box-shadow: 0 0 4px #1A0925;
}

.boulder-card:hover .boulder-card-id.white {
    box-shadow: 0 0 8px #1A0925;
    color: black;
}

.boulder-card-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

@media (min-width: 600px) {
    .boulder-card-meta {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.boulder-card-sector {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1;
}

@media (min-width: 600px) {
    .boulder-card-sector {}
}

.boulder-card-setters {
    display: flex;
    flex-direction: row;
}

@media (min-width: 600px) {
    .boulder-card-setters {
        margin-top: 8px;
    }
}

.boulder-card-setter {
    width: 32px;
    height: 32px;
    margin: 0 0 0 4px;
    display: block;
    border-radius: 2px;
}

@media (min-width: 600px) {
    .boulder-card-setter {
        width: 30px;
        height: 30px;
        margin: 0 4px 0 0;
    }
}

.boulder-card-header {
    background-color: rgb(45, 48, 57);
    color: rgb(236, 225, 233);
    display: flex;
    flex-direction: row;
    padding: .3rem .4rem;
}

.boulder-card-header:hover {
    background-color: rgb(96, 104, 126);
    cursor: pointer;
}

.boulder-card-header-title {
    flex: 1;
}

.boulder-card-header-meta {
    margin-left: .3rem;
}

.boulder-card-body {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boulder-card-body-paragraph {
    width: 100%;
    margin: .5rem 0;
    padding: 0 1rem;
    flex: 1;
}

.boulder-card-body-paragraph.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boulder-card-body-paragraph p {
    margin: .4rem 0;
}

.boulder-card-body .boulder-event-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boulder-card-body .button {
    background-color: rgb(226, 206, 226);
    color: rgb(37, 37, 32);
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    padding: .5rem 1rem .4rem;
}

.boulder-card-body .button:hover {
    cursor: pointer;
    background-color: rgb(202, 174, 202);
}

.boulder-card-body .button[disabled] {
    background-color: rgb(228, 221, 228);
}

.boulder-card-body .button[disabled]:hover {
    cursor: initial;
    background-color: rgb(228, 221, 228);
}

.boulder-card-body .secondary.button {
    background-color: rgb(136, 113, 136);
    color: white;
    font-size: .75rem;
}

.boulder-card-body .secondary.button:hover {
    background-color: rgb(112, 86, 112);
}

.boulder-card-footer {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.boulder-card-footer .back {
    background-color: rgb(157, 36, 80);
    color: rgb(236, 225, 233);
    padding: .6rem 0 .6rem .2rem;
}

.boulder-card-footer .back .label {
    display: inline-block;
    width: 0;
    transition: width .12s;
}

.boulder-card-footer .back:hover {
    padding-right: .4rem;
    cursor: pointer;
}

.boulder-card-footer .back:hover .label {
    width: 5rem;
}

.boulder-card-footer .continue {
    flex: 1;
    text-align: center;
    background-color: rgb(32, 145, 34);
    color: rgb(236, 225, 233);
    padding: .6rem .8rem;
}

.boulder-card-footer .continue:hover {
    cursor: pointer;
}

.transient-notification {
    position: fixed;
    bottom: .5rem;
    left: .5rem;
    background-color: #404040;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    color: #fff;
    display: inline-block;
    line-height: 20px;
    padding: 16px;
    transition: opacity 200ms, -webkit-transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    white-space: nowrap;
    z-index: 45;
}

.boulder-card .sk-spinner-three-bounce div {
    background-color: rgb(201, 112, 187);
    margin: 0 2px;
}

.boulder-card .sk-spinner-chasing-dots div {
    background-color: rgb(125, 158, 208);
}

.login .sk-spinner-double-bounce.sk-spinner {
    width: 60px;
    height: 60px;
}

.login .sk-spinner-double-bounce div {
    background-color: rgb(192, 132, 191);
}

.boulder-meta-form-row {
    margin-bottom: .2rem;
}

.boulder-meta-form-row label {
    display: inline-block;
    width: 8rem;
    text-align: right;
    margin-right: .4rem;
}

.boulder-meta-form-row input {
    width: 4rem;
    display: inline-block;
    margin-right: .3rem;
    text-align: right;
}

.in-progress {
    display: flex;
    flex-direction: row;
}

.in-progress-spinner {
    flex: 1;
    display: flex;
    justify-content: center;
}

.in-progress .timer {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: right;
}

.duration-s {
    font-family: "sax-mono", monospace;
}

.duration-s-subtle {
    color: rgb(182, 182, 185);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team img {}

.setter-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .logo {
    text-align: center;
    font-size: 4rem;
    font-family: "trajan-sans-pro";
    margin-top: 4rem;
}

.login .logo .round-avatar {
    border: 1px solid #999;
    border-radius: 50%;
}

.login .about {
    max-width: 30rem;
    font-size: 1.2rem;
}

.login .account-id {
    font-size: 1.6rem;
    width: 100%;
    padding: 0.7rem 1.1rem;
    font-weight: bold;
}

.login .button {
    width: 30rem;
    font-size: 1.6rem;
    padding: .7rem 1.1rem;
    font-weight: bold;
    background-color: rgb(55, 119, 110);
    color: rgb(245, 238, 249);
    margin-top: 1rem;
}

.login .button:hover {
    cursor: pointer;
    background-color: rgb(58, 144, 132);
}

.login .account-identifier {
    margin: 2rem 0;
    text-align: center;
    width: 25rem;
}

.login .account-identifier * {
    text-align: center;
}

.login .account-identifier-heading {
    color: rgb(137, 135, 126);
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.login .account-identifier-value {
    font-size: 2.4rem;
    font-weight: bold;
}

.login .other {
    margin-top: 1.6rem;
    font-size: 1.2rem;
    color: rgb(175, 86, 36);
    width: 30rem;
    padding: .2rem .4rem;
    font-weight: bold;
}

.login .other:hover {
    cursor: pointer;
    color: rgb(128, 79, 49);
}

.signup-in-progress {
    display: flex;
    flex-direction: row;
    width: 30rem;
    margin: 2rem 0;
}

.signup-in-progress .indicator {
    flex: 0 0 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-in-progress .text {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(58, 22, 73);
}

.login-progress-indicator {
    margin-top: 1rem;
    color: rgb(22, 94, 107);
    font-size: 1.3rem;
    font-weight: bold;
}

.login-failure {
    margin-top: 1rem;
    color: rgb(184, 69, 13);
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-item.account-id {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.navbar-item.account-id .heading {
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: rgb(217, 216, 219);
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.2rem;
}

.navbar-item.account-id .value {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.navbar-item.account-id:hover {
    cursor: initial;
    background-color: inherit;
}

.yellow_f {
    fill: #ffcc00;
    fill-opacity: 0.8;
}

.green_f {
    fill: #33cc00;
    fill-opacity: 0.8;
}

.orange {
    fill: #ff7900;
    fill-opacity: 0.8;
}

.blue {
    fill: #0000ff;
    fill-opacity: 0.8;
}

.red {
    fill: #ff0000;
    fill-opacity: 0.8;
}

.white {
    fill: #ffffff;
    fill-opacity: 0.8;
}

.boulder-tile-header.yellow {
    background-color: rgba(255, 255, 0, 0.2);
}

.boulder-tile-header.yellow .boulder-tile-header-indicator {
    background-color: rgb(255, 255, 0);
}

.boulder-tile-header.green {
    background-color: rgba(47, 208, 15, 0.5);
}

.boulder-tile-header.green .boulder-tile-header-indicator {
    background-color: rgb(47, 208, 15);
}

.boulder-tile-header.orange {
    background-color: rgba(255, 153, 0, 0.5);
}

.boulder-tile-header.orange .boulder-tile-header-indicator {
    background-color: rgb(255, 153, 0);
}

.boulder-tile-header.blue {
    background-color: rgba(5, 0, 255, 0.5);
}

.boulder-tile-header.blue .boulder-tile-header-indicator {
    background-color: rgb(5, 0, 255);
}

.boulder-tile-header.red {
    background-color: rgba(255, 0, 0, 0.5);
}

.boulder-tile-header.red .boulder-tile-header-indicator {
    background-color: rgb(255, 0, 0);
}

.boulder-tile-header.white {
    background-color: rgba(255, 255, 255, 0.5);
}

.boulder-tile-header.white .boulder-tile-header-indicator {
    background-color: rgb(255, 255, 255);
}

.boulder-tile-header {
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: rgb(45, 48, 57);
    color: rgb(45, 48, 57);
}

.boulder-tile-header:hover {
    cursor: pointer;
    color: rgb(161, 169, 207);
}

.boulder-tile-header-indicator {
    width: auto;
    height: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(158, 156, 156);
    color: rgb(236, 225, 233);
    line-height: 3rem;
    font-size: 2.2rem;
    text-align: center;
}

.boulder-tile-header-indicator .icon {
    margin: 0;
    width: auto;
}

.boulder-tile-header-meta {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: .3rem;
}

.boulder-tile-header-meta>div {
    height: 1.5rem;
    line-height: 1.5rem;
}