*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Enriqueta', serif;
}

input {
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Enriqueta', serif;
    font-size: 1rem;
    margin: 0;
    padding: .3rem .4rem;
    border: 1px solid #ccc;
    width: 8rem;
    margin-right: 1rem;
}

input.wide {
    width: 18rem;
}

input:focus {
    outline: none;
    border-color: blue;
}

input.invalid {
    border-color: red;
}

.app .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    font-size: 2.4rem;
}

.form {
    flex: 1;
    display: block;
}

.form-row {
    margin-bottom: .2rem;
}

.form-row .label {
    float: left;
    text-align: right;
    width: 10rem;
}

.form-row .content {
    margin-left: 12rem;
}

.button {
    display: inline-block;
    padding: .2rem .5rem .1rem;
    background-color: #ddd;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background-color: #ccc;
}

.delete.button {
    background-color: rgb(202, 48, 37);
    color: white;
    font-family: "museo-slab";
    text-transform: uppercase;
}

.delete.button:hover {
    background-color: rgb(157, 20, 10);
}

.site {}


/* --------------------------------------------------------------------------------*/

.boulder-details-editor {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.boulder-details-editor .code {
    width: 5rem;
}

.boulder-details-editor .code canvas {
    display: block;
}


/*------------------------------------------------------------------------------------*/

.login .sk-spinner-double-bounce.sk-spinner {
    width: 60px;
    height: 60px;
}

.login .sk-spinner-double-bounce div {
    background-color: rgb(192, 132, 191);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .logo {
    text-align: center;
    font-size: 4rem;
    font-family: "trajan-sans-pro";
    margin-top: 4rem;
}

.login .about {
    max-width: 30rem;
    font-size: 1.2rem;
}

.login .account-id {
    font-size: 1.6rem;
    width: 100%;
    padding: 0.7rem 1.1rem;
    font-weight: bold;
}

.login .button {
    width: 30rem;
    font-size: 1.6rem;
    padding: .7rem 1.1rem;
    font-weight: bold;
    background-color: rgb(55, 119, 110);
    color: rgb(245, 238, 249);
    margin-top: 1rem;
}

.login .button:hover {
    cursor: pointer;
    background-color: rgb(58, 144, 132);
}

.login .account-identifier {
    margin: 2rem 0;
    text-align: center;
    width: 25rem;
}

.login .account-identifier * {
    text-align: center;
}

.login .account-identifier-heading {
    color: rgb(137, 135, 126);
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.login .account-identifier-value {
    font-size: 2.4rem;
    font-weight: bold;
}

.login .other {
    margin-top: 1.6rem;
    font-size: 1.2rem;
    color: rgb(175, 86, 36);
    width: 30rem;
    padding: .2rem .4rem;
    font-weight: bold;
}

.login .other:hover {
    cursor: pointer;
    color: rgb(128, 79, 49);
}

.signup-in-progress {
    display: flex;
    flex-direction: row;
    width: 30rem;
    margin: 2rem 0;
}

.signup-in-progress .indicator {
    flex: 0 0 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-in-progress .text {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(58, 22, 73);
}

.login-progress-indicator {
    margin-top: 1rem;
    color: rgb(22, 94, 107);
    font-size: 1.3rem;
    font-weight: bold;
}

.login-failure {
    margin-top: 1rem;
    color: rgb(184, 69, 13);
    font-size: 1.3rem;
    font-weight: bold;
}

.yellow_f {
    fill: #ffcc00;
    fill-opacity: 0.8;
}

.green_f {
    fill: #33cc00;
    fill-opacity: 0.8;
}

.orange {
    fill: #ff7900;
    fill-opacity: 0.8;
}

.blue {
    fill: #0000ff;
    fill-opacity: 0.8;
}

.red {
    fill: #ff0000;
    fill-opacity: 0.8;
}

.white {
    fill: #ffffff;
    fill-opacity: 0.8;
}

.boulder-tile-header.yellow {
    background-color: rgba(255, 255, 0, 0.2);
}

.boulder-tile-header.yellow .boulder-tile-header-indicator {
    background-color: rgb(255, 255, 0);
}

.boulder-tile-header.green {
    background-color: rgba(47, 208, 15, 0.5);
}

.boulder-tile-header.green .boulder-tile-header-indicator {
    background-color: rgb(47, 208, 15);
}

.boulder-tile-header.orange {
    background-color: rgba(255, 153, 0, 0.5);
}

.boulder-tile-header.orange .boulder-tile-header-indicator {
    background-color: rgb(255, 153, 0);
}

.boulder-tile-header.blue {
    background-color: rgba(5, 0, 255, 0.5);
}

.boulder-tile-header.blue .boulder-tile-header-indicator {
    background-color: rgb(5, 0, 255);
}

.boulder-tile-header.red {
    background-color: rgba(255, 0, 0, 0.5);
}

.boulder-tile-header.red .boulder-tile-header-indicator {
    background-color: rgb(255, 0, 0);
}

.boulder-tile-header.white {
    background-color: rgba(255, 255, 255, 0.5);
}

.boulder-tile-header.white .boulder-tile-header-indicator {
    background-color: rgb(255, 255, 255);
}

.boulder-tile-header {
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: rgb(45, 48, 57);
    color: rgb(45, 48, 57);
}

.boulder-tile-header:hover {
    cursor: pointer;
    color: rgb(161, 169, 207);
}

.boulder-tile-header-indicator {
    width: auto;
    height: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(158, 156, 156);
    color: rgb(236, 225, 233);
    line-height: 3rem;
    font-size: 2.2rem;
    text-align: center;
}

.boulder-tile-header-indicator .icon {
    margin: 0;
    width: auto;
}

.boulder-tile-header-meta {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: .3rem;
}

.boulder-tile-header-meta>div {
    height: 1.5rem;
    line-height: 1.5rem;
}


/** SECTOR **/

.sector .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    text-align: center;
    font-size: 4rem;
    font-family: "trajan-sans-pro";
    margin-top: 4rem;
    text-transform: uppercase;
}

.sector .button {
    width: 8rem;
    font-size: 1.0rem;
    padding: .7rem 1.1rem;
    font-weight: bold;
    background-color: rgb(55, 119, 110);
    color: rgb(245, 238, 249);
    margin-top: 1rem;
}

.sector .button:hover {
    cursor: pointer;
    background-color: rgb(58, 144, 132);
}

.sector .details {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sector .boulders {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-input {
    width: 100%;
}
